.searchBarImage {
    max-height: 50px; 
    min-width: 100px; 
    stroke: white;
}
.searchBarTitle {
   display: flex; 
   margin-top: .5rem; 
   text-align: center; 
   flex-grow: 1;
   align-items: center;
   justify-content: center;
   color: white; 
   font-size: 2rem;
   font-family: copperplate;
}
.searchBarLogoutButton {
    color: white;
    border: none;
}