.dateLabel {
    color: white;
    margin-top: -10 rem;
    margin-left: 12px;
    z-index: 2000;
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 10px;
    display: flex;
}
.dateBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: rem;
}